.advances {
    @extend %section;
    @media screen and (min-width: 1200px) {
            
        }

    &__caption {
        margin-top: 0;
        margin-bottom: 10px;
        
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        color: $titleColor;
        @media screen and (max-width:480px) {
                text-align: center;
            }
        @media screen and (min-width: 768px) {
          text-align: left;
            }
    }

    &__text {
       margin-bottom: 0;

       font-size: 14px;
       line-height: 1.7;
       color: $textColor;
        

    }
}

.advances__container{
    @extend %container;
}

.advances-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
        }

    &__item {
        @media screen and (min-width: 768px) {
                flex-basis: calc((100% - 30px) / 2);
            }
        
            @media screen and (min-width: 1200px) {
                flex-basis: calc((100% - 90px) / 4);
            }
    }
}

.advances__icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    //width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    @media screen and (max-width:480px) {
        width: 100%;
        margin-bottom: 30px;
        }
}

.advances__icon {
    display: inline-block;
    width: 70px;
    height: 70px;
        
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;


}