.clients{
    @extend %section;

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    &__icon {
        display: inline-block;
        width: 106px;
        height: 60px;
        fill:currentColor;
    }
}

.clients__item {
    flex-basis: calc((100% - 30px)/2);

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 60px)/3);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 150px)/6);
    }
}

.clients__container{
    @extend %container;
}

.clients__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: $socialLinkColor;
    transition: background-color 250ms $timingFunction,
    color 250ms $timingFunction;

    &:hover,
    &:focus{
        color: $accentColor;
        border: 1px solid $accentColor;
    }
}