.contacts-list {
    
    display: flex;
    align-items: center;
    margin-left: auto;

    &__item {
        
        margin-right: 50px;
        @media screen and (min-width:768px) and (max-width:1199px) {
            margin-bottom: 10px;
            margin-right: 0;
        
            &:last-child {
                margin-bottom: 0;
                }
            }
    }
    
    &__item:last-child {
        margin-right: 0px;

    }

    &__icon {
        display: inline-block;
            
        margin-right: 10px;
        padding: 0px;
        stroke: currentColor;
        fill: currentColor;
    }

        @media screen and (min-width:768px) and (max-width:1199px) {
             flex-direction: column;
             align-items: flex-start;
             //margin-left: 96px;
        }
}

.contacts-list__link {
    @extend %header-link;
    display: flex;
    align-items: center;
    color: $textColor;

    

}

.contacts-list {
    @media screen and (max-width:767px) {
        display: none;
    }
}


