.portfolio {
    @extend %section;

}

.portfolio__container {
    @extend %container;

}

.portfolio-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio__item+.portfolio__item {
    margin-left: 8px;
}

.portfolio__button {
    padding: 6px 22px;

    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: $titleColor;
    background-color: $secondaryBackgroundColor;
    border: none;
    transition: background-color 250ms $timingFunction,
        color 250ms $timingFunction, box-shadow 250ms $timingFunction;
     
    &:hover,
    &:focus {
        color: $whiteTextColor;
        background-color: $accentColor;
        cursor: pointer;
        border: none;
        box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
    }    
}

