body {
    font-family: $mainFont;
    font-size: 14px;
    background: $primaryBackgroundColor;
    color: $textColor;
    letter-spacing: 0.03em;
    
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
}

textarea {
    resize: none;
}


ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}