//Colors
$accentColor:#2196F3;
$titleColor:#212121;
$textColor:#757575;
$whiteTextColor:#FFF;
$primaryBackgroundColor:#fff;
$socialLinkColor:#AFB1B8;
$formInputColor:rgba(33, 33, 33, 0.2);
$heroLinearGradientColor: rgba(47, 48, 58, 0.4);
$heroBackgroundColor: #c4c4c4;
$secondaryBackgroundColor: #f5f4fa;
$darkBackgroundColor:#2F303A;
$buttonColor:#188CE8;
$overlayColor: rgba(33, 150, 243, 0.9);
$bordercolor:#eeeeee;
// Shadow
$temaCardShadow:0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
$portfolioCardShadow:0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
//Fonts
$mainFont: "Roboto", sans-serif;
$logoFont: "Raleway", sans-serif;
//other
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);



